extends _layouts/home

block head_end
	link(rel="stylesheet" href="/css/style.css") 
	link(rel="stylesheet" href="/css/animate.css")
	link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')


block content
	include _partials/header

block body_end
	script(type="text/javascript" src="/js/wows.js")
	script(type="text/javascript" src="/js/script.js")
	script.
		new WOW().init();
