header
  //- h1.wow.bounceInUp= welcome
.flex__column
  .flex__item
    img.img__responsive(src="https://angelsbroker.com/wp-content/uploads/2017/02/xlogoangels3.png" style="")
  .flex__item
    h1 JOIN THE WORLD OF TRADERS
  .flex__item
    .type-1
      div
        a.btn.btn-1(href='https://my.angelsbroker.com/register/ ')
          span.txt Sign Up  
          span.round
            i.fa.fa-chevron-right
  .flex__item
    img.img__responsive.wow.bounceIn(src='/img/mainbg.jpg')
.flex
  .flex__item.wow.bounceInLeft
    p.text__center
      i.iconbox_icon.icon_rounded.fa.fa-chevron-right
    h1.text__center Lowest Spread
    p.text__center Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
  .flex__item.wow.bounceInRight
    img.img__responsive(src='/img/1.png')
hr
.flex
  .flex__item.wow.zoomInLeft.spread__img
    img.img__responsive(src='/img/2.png')
  .flex__item.wow.zoomInRight.spread__text
    h1.text__center NO COMMITION
    p.text__center Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
